# Test files can be large
__pycache__/
.coverage*

.python-version

# Cromwell run metadata output
*metadata.json

help/ENC*

# cromwell temp dirs
cromwell-executions/
cromwell-workflow-logs/
cromwell*.jar
wdltool*.jar
.caper_tmp

.mypy_cache/
.tox/
.vscode/
venv/

*.egg-info/
.DS_STORE
pip-wheel-metadata
/test_*

# Rust build directory
target
/wgbs/
