# Test files can be large
helpers/__pycache__

# Cromwell run metadata output
metadata.json

help/ENC*

test/ENC*
# cromwell temp dirs
cromwell-executions/
cromwell-workflow-logs/
cromwell*.jar
wdltool*.jar
